@keyframes sparks-fill {
  0% {
    fill: transparent;
    opacity: 0;
  }
  50% {
    fill: var(--animation-fill-color, #ff0000);
    opacity: 0.5;
  }
  100% {
    fill: var(--animation-fill-color, #ff0000);
    opacity: 1;
  }
}

.like-checkbox:checked + .card__icon-button .like-icon .sparks {
  animation: sparks-fill 0.3s ease-in 0.3s 1;
}
